<section id="cards" class="mt-4 ">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img class="card-img-top" src="https://digital.ihg.com/is/image/ihg/crowne-plaza-lima-5900996795-4x3?qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="name">Hotel Sheraton</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card shadow">
                    <div class="card-header wrap-title">
                        <h5 class="card-title">Información</h5>
                    </div>
                    <div class="card-body">
                        <div class="info">
                            <div class="info-content">
                                <div class="score">4.5</div>
                                <div>
                                    <a><i class="fas fa-star"></i></a>
                                    <a><i class="fas fa-star"></i></a>
                                    <a><i class="fas fa-star"></i></a>
                                    <a><i class="fas fa-star"></i></a>
                                    <a><i class="fas fa-star-half-alt"></i></a>
                                </div>
                                <div class="from">Desde</div>
                                <h4 class="price">S/ 250</h4>
                                <p class="night">por noche</p>
                            </div>
                            <div class="info-detail">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quisquam at dolores eveniet, laboriosam nobis. Iste, necessitatibus, facilis laudantium odio, quae voluptate numquam eum quia minus blanditiis quaerat ut quasi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------- Comentarios-------------------->
        <h5 class="card-title mb-4">Comentarios</h5>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card shadow">
                    <div class="wrap-title group-start">
                        <h6 class="card-title">Nombre</h6>
                        <div>
                            <div class="starts">
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star-half-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-coment">
                        <p class="coment">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, perspiciatis. Earum porro nesciunt, similique, molestias unde iure harum eligendi minima soluta quasi odio saepe, quos a nulla id! Illo, unde.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mb-4">
                <div class="card shadow">
                    <div class="wrap-title group-start">
                        <h6 class="card-title">Nombre</h6>
                        <div>
                            <div class="starts">
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star-half-alt"></i></a>
                                <a><i class="far fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-coment">
                        <p class="coment">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, perspiciatis. Earum porro nesciunt, similique, molestias unde iure harum eligendi minima soluta quasi odio saepe, quos a nulla id! Illo, unde.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="show-more">Ver más...</a>

        <div class="row mb-4 mt-4">
            <div class="col-md-12 mb-4">
                <div class="card shadow">
                    <form action="">
                        <div class="wrap-send-coment">
                            <input type="text" class="send-coment" placeholder="Escribir un comentario">
                        </div>
                        <div class="wrap-send-score">
                            <div class="send-score">
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                                <a><i class="fas fa-star"></i></a>
                            </div>
                        </div>
                        <div class="button-send">
                            <input type="submit" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>